{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <h1>Blog</h1>

        {% for article in articles %}
           <ul>
               <li>
                   <a href="{{ path('blog.show', {'slug': article.slug}) }}">{{ article.name }}</a>
                   <small>{{ article.category.name }}</small>
               </li>
           </ul>
        {% endfor %}
    </div>

{% endblock %}
